@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --custom-cursor: url('/images/aero_arrow.cur'), auto;
  --custom-cursor-hover: url('/images/point_click.cur'), auto;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.author{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: var(--custom-cursor);
}
.author-name{
  display: flex;
  flex-direction: column;
  color: inherit;
  font-size: 45px;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.author-links{
  display: flex;
  justify-content: center;
  gap: 20px;
  cursor: var(--custom-cursor-hover);
  width: 32px;
}
.author-links img{
  width: 100%;
  height: auto;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  cursor: var(--custom-cursor);

}

a:hover {
  cursor: var(--custom-cursor-hover);
}

main {
  padding: 5px 5px 5px 5px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  gap: 8px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #3495eb;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.author-links-container {
  display: flex;
  gap: 25px;
}


.page-transition{
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

 /* Style inputs with type="text", select elements and textareas */
 input[type=text],input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  color: #333;
}


input[type=submit] {
  background-color: #3495eb;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #094982;
}

/* Add a background color and some padding around the form */
.contact {
  margin: auto;
  width: 70%;
  border-radius: 5px;
  background-color: #333;
  padding: 20px;
} 
.container{
  display: grid;
  gap: var(--fluid-gap);
  margin-inline: auto;
  max-width: 43rem;
  width: calc(100% - var(--fluid-gap)* 4);
}

.bio{
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
  padding: 10px;
}
a.bio-link{
  color:#3495eb;
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: var(--custom-cursor-hover);
}
a.bio-link:hover{
  cursor: var(--custom-cursor-hover);
  color:#094982;
}

.responsive-image {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 600px) {
  /* Display the links vertically instead of horizontally on small screens */
  .topnav {
    flex-direction: column;
    padding: 10px;
  }

  .topnav a {
    padding: 10px;
    font-size: 15px;
    width: 100%;
    text-align: center;
  }
  .contact {
    width: 100%;
    padding: 10px;
  }
  .bio {
    width: 90%;
  }
}